.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    &_btn {
        display: block;
        width: 80px;
        height: 40px;
        background: rgba(0, 0, 0, 0.692);
        color: white;
        font-size: 16px;
        font-family: RobotoRegular;
        border-radius: 10px;
        &:focus {
            outline: none;
            border: 1px solid black;
        }
    }
    &_img {
        margin: 20px 0;
        width: 100%;
        height: calc(100% - 90px);
        border-radius: 50%
    }
    &_panel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 250px;
        height: 350px;
        background: white;
        border-radius: 5px;
        padding: 15px;
        box-sizing: content-box;
        font-family: RobotoRegular;
    }
}