.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.733);
    &_panel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        min-width: 150px;
        min-height: 200px;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px 10px 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.856);
    }
    &_head {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    &_title {
        font-size: 25px;
        font-weight: bold;
        font-style: oblique;
    }
    &_close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
    }
    &_btn {
        display: block;
        width: 80px;
        height: 40px;
        background: rgba(0, 0, 0, 0.692);
        color: white;
        font-size: 16px;
        font-family: RobotoRegular;
        border-radius: 10px;
        &:focus {
            outline: none;
            border: 1px solid black;
        }
    }
}
